.hero-image img {
    width: 200px;  
    height: auto;    
}

.navbar {
    background-color: #255;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
}

.nav-links {
    display: flex;
    gap: rem;
    list-style: none;
}

.nav-links a{
    color: var(--text);
    text-decoration: none;
    font-weight: 500;
    transition: all 0.3 ease;
    position: relative;
}
